@import "tailwindcss";
@import "tw-animate-css";
/* @import "shadcn/tailwind.css"; */
/* @import "@fontsource-variable/geist"; */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-accent: var(--primary-accent);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-accent: var(--secondary-accent);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-outline: var(--outline);

  --radius-xs: calc(var(--radius) - 0.375rem);
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
  --radius-2xl: calc(var(--radius) + 0.5rem);
  --radius-3xl: calc(var(--radius) + 1rem);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-outline: var(--sidebar-outline);
}

:root {
  --background: #f9f9ff;
  --foreground: #191c20;
  --card: #ffffff;
  --card-foreground: #191c20;
  --popover: #ffffff;
  --popover-foreground: #191c20;
  --primary: #415f91;
  --primary-foreground: #ffffff;
  --primary-accent: #284777;
  --secondary: #dae2f9;
  --secondary-foreground: #131c2b;
  --secondary-accent: #3e4759;
  --muted: #f3f3fa;
  --muted-foreground: #44474e;
  --accent: #e7e8ee;
  --accent-foreground: #191c20;
  --info: #87ceff;
  --info-foreground: #001d2c;
  --success: #8ed49a;
  --success-foreground: #00210c;
  --warning: #ffdd80;
  --warning-foreground: #261900;
  --error: #ba1a1a;
  --error-foreground: #ffffff;
  --border: #c4c6d0;
  --input: #e0e2ec;
  --outline: #74777f;
  --radius: 0.625rem;

  /* sidebar variables */
  --sidebar-background: #ffffff;
  --sidebar-foreground: #191c20;
  --sidebar-primary: #415f91;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f3f3fa;
  --sidebar-accent-foreground: #191c20;
  --sidebar-border: #c4c6d0;
  --sidebar-outline: #74777f;
}

.dark {
  --background: #111318;
  --foreground: #e2e2e9;
  --card: #1d2024;
  --card-foreground: #e2e2e9;
  --popover: #1d2024;
  --popover-foreground: #e2e2e9;
  --primary: #aac7ff;
  --primary-foreground: #0a305f;
  --primary-accent: #d6e3ff;
  --secondary: #3e4759;
  --secondary-foreground: #dae2f9;
  --secondary-accent: #bec6dc;
  --muted: #282a2f;
  --muted-foreground: #c4c6d0;
  --accent: #33353a;
  --accent-foreground: #f0f0f7;
  --info: #87ceff;
  --info-foreground: #001d2c;
  --success: #8ed49a;
  --success-foreground: #00210c;
  --warning: #ffdd80;
  --warning-foreground: #261900;
  --error: #ffb4ab;
  --error-foreground: #690005;
  --border: #44474e;
  --input: #44474e;
  --outline: #8e9099;

  /* sidebars variables */
  --sidebar-background: #1d2024;
  --sidebar-foreground: #e2e2e9;
  --sidebar-primary: #aac7ff;
  --sidebar-primary-foreground: #0a305f;
  --sidebar-accent: #282a2f;
  --sidebar-accent-foreground: #f0f0f7;
  --sidebar-border: #44474e;
  --sidebar-outline: #8e9099;
}


@layer base {
  * {
    @apply border-border outline-outline/50;
  }
  body {
    @apply bg-background text-foreground scheme-light dark:scheme-dark;
  }
  button {
    @apply cursor-pointer;
  }
}

body {
  scroll-behavior: smooth;
  scroll-alignment: center;
}